<div class="row">
  <div class="col-sm-8 col-offset-2">

    <h2>Nouveau livre à lire</h2>

    <form [formGroup]="bookForm" (ngSubmit)="onSaveALire()">

      <div class="form-group">
        <label for="title">Titre</label>
        <input type="text" class="form-control" id="title" formControlName="title">
      </div>

      <div class="form-group">
        <label for="authorFirstName">Prénom de l'auteur</label>
        <input type="text" class="form-control" id="authorFirstName" formControlName="authorFirstName">
      </div>
      <div class="form-group">
        <label for="authorLastName">Nom de l'auteur</label>
        <input type="text" class="form-control" id="authorLastName" formControlName="authorLastName">
      </div>

      <button class="btn btn-success" [disabled]="bookForm.invalid" type="submit">Enregistrer</button>
      <button class="btn btn-danger" (click)="onBack()" style="margin-left: 10px;">Annuler</button>

    </form>
  </div>
</div>
