<div class="row">
  <div class="col-sm-8 col-offset-2">

    <h2>Enregister un nouveau livre</h2>

    <form [formGroup]="bookForm" (ngSubmit)="onSaveBook()">

      <div class="form-group">
        <label for="title">Titre</label>
        <input type="text" class="form-control" id="title" formControlName="title">
      </div>

      <div class="form-group">
        <label for="author">Auteur</label>
        <input type="text" class="form-control" id="author" formControlName="author">
      </div>

      <div class="form-group">
        <label for="synopsis">Synopsis</label>
        <textarea class="form-control" id="synopsis" formControlName="synopsis"></textarea>
      </div>

      <div class="form-group">
        <h4>Ajouter une photo</h4>
        <input type="file" class="form-control" (change)="detectFiles($event)" accept="image/*">
        <p class="text-success" *ngIf="fileUploaded">Fichier chargé !</p>
      </div>

      <button class="btn btn-success" [disabled]="bookForm.invalid || fileIsUploading" type="submit">Enregistrer</button>

    </form>
  </div>
</div>
