.row {
    background-color: #ebedeb;
}

img {
    max-width:350px;
    margin-top: 25px;
    margin-bottom: 25px;
}

button {
    margin-top: 40px;
    margin-bottom: 25px;
}

h1 {
    margin-top: 25px;
    margin-bottom: 5px;
}

p {
    margin-top: 20px;
}