<div class="row">
  <div class="col-md-4" style="text-align: center;">
    <img class="couverture" *ngIf="book.photo" [src]="book.photo">
  </div>

  <div class="col-md-8">

    <h1>{{ book.title }}</h1>
    <h3>{{ book.authorFirstName }} {{ book.authorLastName }} </h3>
    <p>{{ book.synopsis }}</p>

    <p>
      <button class="btn btn-default" (click)="onEditBook(book.id)" style="margin-left: 10px;">
        <span class="glyphicon glyphicon-pencil"></span>
      </button>
      <button class="btn btn-default" (click)="onPrevious()" style="margin-left: 10px;" [disabled]="index <= 0">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </button>
      <button class="btn btn-default" (click)="onNext()" style="margin-left: 10px;" [disabled]="index >= maxIndex">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </button>
      <button class="btn btn-default" (click)="onBack()" style="margin-left: 10px;">
          <span class="glyphicon glyphicon-list-alt"></span>
      </button>
    </p>

  </div>
</div>
