a {
    margin-right: 20px;
    cursor: pointer;
    text-decoration: none;
}

.row {
    background-color: #ebedeb;
}

h1 {
    margin-bottom: 10px;
}

.butPlus {
    text-align: right;
    margin-top: 25px;
}

div.recherche {
    width: 400px;
}


/*****************************************************************/
/*****************************************************************/
/******************** Media Queries ******************************/
/*****************************************************************/
/*****************************************************************/


@media (max-width: 992px) {
  
    h1 {
        font-size: 3em;
    }

    
    p {
        font-size: 1em;
    }

    a {
        font-size: 0.9em;
    }

    .butPlus {
        text-align: center;
        margin-top: 10px;
    }

    div.recherche {
        width: 300px;
    }

}