.row {
    background-color: #ebedeb;
}

img {
    max-width:350px;
    margin-top: 25px;
    margin-bottom: 25px;
}

button {
    margin-top: 10px;
    margin-bottom: 25px;
}

h2 {
    margin-top: 25px;
    margin-bottom: 25px;
}