<div class="row">
      
        <div class="col-xs-4" style="text-align: center;">
          <img style="max-width:350px;" *ngIf="book.photo" [src]="book.photo">
        </div>
        
        <div class="col-xs-8">
      <h2>Editer un livre</h2>
  
      <form [formGroup]="bookForm" (ngSubmit)="onSaveBook()">
  
        
        <div class="form-group">
          <label for="title">Titre</label>
          <input type="text" class="form-control" id="title" formControlName="title">
        </div>
  
        <div class="form-group">
          <label for="authorFirstName">Prénom de l'auteur</label>
          <input type="text" class="form-control" id="authorFirstName" formControlName="authorFirstName">
        </div>
        <div class="form-group">
          <label for="authorLastName">Nom de l'auteur</label>
          <input type="text" class="form-control" id="authorLastName" formControlName="authorLastName">
        </div>
  
        <div class="form-group">
          <label for="synopsis">Synopsis</label>
          <textarea class="form-control" id="synopsis" formControlName="synopsis"></textarea>
        </div>
  
        <div class="form-group">
          <h4>Ajouter une photo ou la remplacer</h4>
          <input type="file" class="form-control" (change)="detectFiles($event)" accept="image/*">
          <p class="text-success" *ngIf="fileUploaded">Fichier chargé !</p>
        </div>
  
        <button class="btn btn-success" [disabled]="bookForm.invalid || fileIsUploading" type="submit">Enregistrer</button>
        <button class="btn btn-danger" [disabled]="fileIsUploading" (click)="onBack()" style="margin-left: 10px;">Annuler</button>
  
      </form>
    </div>
  </div>
  