/* You can add global styles to this file, and also import other style files */
/************** Body / H / P *************/

html,
body,
header,
section,
div,
.row,
figure,
iframe,
img,
footer,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  /*word-wrap: break-word;*/
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}


/*****************************************************************/
/*****************************************************************/
/******************** Media Queries ******************************/
/*****************************************************************/
/*****************************************************************/


@media (max-width: 1024px) {
  /********************   Images  ************/
  img {
      margin: 0 auto;
      max-width: 66%;
      max-height: 66%;
  }

  h1, h2, h3, h4, p {
      text-align: center;
  }

  h1 {
      font-size: 1.8em;      
  }
 
  h3 {
      font-size: 1.5em;
  }
  
  p {
      font-size: 1.2em;
  }  

}
